# Compiler-generated binaries
/src/*.o
/src/*.d
/src/*.map

# Compiled static library
/src/*.a

# Visual Studio Code
/.vscode/*
!/.vscode/c_cpp_properties.json

# Generated doxygen documentation
/html
/latex
